<?xml version="1.0"?> 
<configuration>
  <connectionStrings>
    <add name="sqlreporting" connectionString="Data Source=exigodemo.bi.exigo.com;Initial Catalog=exigodemoreporting;Persist Security Info=True;User ID=exigodemoweb;Password=ExigoDem0;Pooling=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <pages>
      <namespaces>
        <add namespace="Exigo.OData"/>
        <add namespace="Exigo.WebService"/>
      </namespaces>
    </pages>
    <sessionState mode="Off"/>
    <compilation debug="true" targetFramework="4.5.1">
      <assemblies>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.1" requestValidationMode="2.0"/>
    <authentication mode="Forms">
      <forms name="sd9fg76sd8fg76sd89fg7s0df9g876sd" loginUrl="~/Login.aspx" protection="All" slidingExpiration="true" path="/"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <appSettings>
    <add key="Exigo.WebService.ExigoApi" value="http://api.exigo.com/3.0/ExigoApi.asmx"/>
  </appSettings>
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>